* {
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#info {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.499);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 87.7%;
    width: 100%;
}

.interactivo {
    cursor: pointer;
    transition: all ease-out 250ms;
    align-items: flex-end;
    }

.interactivo:hover {
    padding: 5px;
    border-bottom: 1px solid #FAF7F3;
    }

#landingpage {
    height: 90vh;
    background-color: #FAF7F3;
}

#background {
        height: 100vh;
    }

.home {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

#logo {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Schoolbell', cursive;
    font-size: 27px;
    color: antiquewhite;
    text-shadow: 0.05em 0.1em 0.09em #9F5E39;
}

.warp__placeholder{
    position: absolute;
    color: transparent;
    font-size: .1px;
}

.warp {
    display: block;
    position: absolute;
    width: 620px;
    height: 450px;
    font: lighter 75px/1 ultra;
    top: 50%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    font-family: 'Schoolbell', cursive;
    font-size: 75px;
    color: antiquewhite;
    text-shadow: 0.05em 0.1em 0.09em #9F5E39;
}

[class*='warp__'] {
    display: block;
    position: absolute;
}

.warp__0 {
    transform-origin: 50% 50%;
    transform: translate(10.424700000000001px,122.23490000000001px) rotate(-1.355769rad);
}

.warp__1 {
    transform-origin: 50% 50%;
    transform: translate(39.3874px,62.82170000000001px) rotate(-0.849158rad);
}

.warp__2 {
    transform-origin: 50% 50%;
    transform: translate(95.01840000000001px,23.181600000000003px) rotate(-0.412223rad);
}

.warp__3 {
    transform-origin: 50% 50%;
    transform: translate(161.3133px,6.805899999999994px) rotate(-0.090767rad);
}

.warp__4 {
    transform-origin: 50% 50%;
    transform: translate(227.5879px,10.510999999999996px) rotate(0.202857rad);
}

.warp__5 {
    transform-origin: 50% 50%;
    transform: translate(291.4725px,35.422799999999995px) rotate(0.557251rad);
}

.warp__6 {
    transform-origin: 50% 50%;
    transform: translate(342.4084px,77.59970000000001px) rotate(0.978187rad);
}

.warp__7 {
    transform-origin: 50% 60%;
    transform: translate(357.5095px,134.7691px) rotate(1.432129rad);
}

#informacion {
    width: 100%;
    height: 85vh;
}

#entregasImagen {
    grid-area: entregasImagen;
   
}

#textoEntregas {
    grid-area: textoEntregas;
    font-size: 17px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
}

#tarjetasImagen {
    grid-area: tarjetasImagen;
    font-size: 17px;
}

#textoTarjetas {
    grid-area: textoTarjetas;
    font-size: 17px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
}

#pagosImagen {
    grid-area: pagosImagen;
    font-size: 17px;
}

#textoPagos {
    grid-area: textoPagos;
    font-size: 17px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
}

.uno {
    display: grid;
    grid-template-areas:
    "entregasImagen textoEntregas";
    width: 25%;
    padding: 8px;
}

.dos {
    display: grid;
    grid-template-areas:
    "tarjetasImagen textoTarjetas";
    width: 28%;
    padding: 0.7px;
}

.tres {
    display: grid;
    grid-template-areas:
    "pagosImagen textoPagos";
    width: 18.5%;
    padding: 8px;
}

#informacion {
    height: 110vh;
    background-color: #FAF7F3;
}

.contenedores {
    display: flex;
    gap: 10%;
    justify-content: center;
    color: #818181;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 10%;
    padding-right: 5%;
}

.producto {
    padding: 1.3em;
    width: 300px;
    height: 300px;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    color: #516336;
    font-size: 17px;
    padding-top: 5%;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    color: #516336;
    font-size: 15px;
    width: 120%;
    padding-bottom: 22%;
    padding-top: 4%;
}

.texto-distinto {
    font-family: 'Open Sans', sans-serif;
    color: #516336;
    font-size: 15px;
    width: 120%;
    padding-bottom: 6%;
    padding-top: 4%;
}

.boton {
    font-family: 'Open Sans', sans-serif;
    border-radius: 0%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 5%;
    width: 70%;
    cursor: pointer;
}

.boton:hover {
    background-color: #3a4727;
    }

footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.redes {
    padding-top: 0.7%;
}

.texto-marca {
    color: azure;
    padding-top: 4.5%;
}

.texto-ubicacion {
    color: azure;
}

@media screen and (max-width: 800px) {
    .warp {
        width: 460px;
        height: 450px;
        font-size: 50px;
        padding-left: 10px;
    }

    .warp__0 {
        transform-origin: 20% 20%;
        transform: translate(10.424700000000001px,122.23490000000001px) rotate(-1.355769rad);
    }
    
    .warp__1 {
        transform-origin: 20% 20%;
        transform: translate(39.3874px,62.82170000000001px) rotate(-0.849158rad);
    }
    
    .warp__2 {
        transform-origin: 20% 20%;
        transform: translate(95.01840000000001px,23.181600000000003px) rotate(-0.412223rad);
    }
    
    .warp__3 {
        transform-origin: 20% 20%;
        transform: translate(161.3133px,6.805899999999994px) rotate(-0.090767rad);
    }
    
    .warp__4 {
        transform-origin: 20% 50%;
        transform: translate(227.5879px,10.510999999999996px) rotate(0.202857rad);
    }
    
    .warp__5 {
        transform-origin: 20% 40%;
        transform: translate(291.4725px,35.422799999999995px) rotate(0.557251rad);
    }
    
    .warp__6 {
        transform-origin: 20% 30%;
        transform: translate(342.4084px,77.59970000000001px) rotate(0.978187rad);
    }
    
    .warp__7 {
        transform-origin: 20% 30%;
        transform: translate(357.5095px,134.7691px) rotate(1.432129rad);
    }

    #logo {
        top: 49%;
    }


    #info {
        top: 78.7%;
        padding-right: 10%;
        padding-bottom: 1%;
        padding-top: 1%;
        height: 21.5%;
    }

    .uno {
        display: grid;
        grid-template-areas:
        "entregasImagen" 
        "textoEntregas";
        width: 35%;
    
    }

    .dos {
        display: grid;
        grid-template-areas:
        "tarjetasImagen" 
        "textoTarjetas";
        width: 35%;
    }
    
    .tres {
        display: grid;
        grid-template-areas:
        "pagosImagen" 
        "textoPagos";
        padding-bottom: 7%;
    }

    #textoEntregas {
        grid-area: textoEntregas;
        font-size: 17px;
        padding-top: 4px;
        color: rgb(255, 255, 255);
    }

    h2 {
        top: 68%;
    }

    .contenedores {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-top: 100px;
      }

      .producto {
        width: 100%;
        height: 100%;
      }

      #informacion {
        height: 240vh;
    }

    .texto-distinto {
        width: 100%;
        padding-bottom: 10%;
    }

    .texto {
        width: 100%;
        padding-bottom: 10%;
    }

    footer {
        align-items: center;
        flex-direction: row;
        display: grid;
        grid-template-areas:
        "redes ubicacion"
        "marca marca";
    }

   .redes {
    display: grid;
    grid-area: redes;
   }

   .marca {
    display: grid;
    grid-area: marca;
    padding-bottom: 20px;
    padding-left: 7px;
   }

   .ubicacion {
    display: grid;
    grid-area: ubicacion;
    padding-left: 40px;
    padding-top: 9.5px;
   }

   .redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5px;
   }

}

@media screen and (min-width: 500px) and (max-width: 800px) {

    #informacion {
        height: 290vh;
    }
}

